.title_centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #d3f7ff, #cccbff);
  z-index: -1;
}

.logo_img_container {
  width: 170px; /* Set the desired width of the container */
  overflow: hidden;
}

.logo_img_container img {
  max-width: 100%; /* Restrict the image width to not exceed the container */
  max-height: 100%; /* Restrict the image height to not exceed the container */
  display: block; /* Remove any extra spacing below the image */
}

.main_img_border {
  /* border: 8px solid blue; */
  border-width: 8px;
  border-image: linear-gradient(to bottom, #5f9fff, #105ac7) 1;
  border-style: solid;
  border-radius: 25px;
}

.inventory_img {
  width:200px;
  background-color: white;
}

.level_icon {
  width: 30px;
  height: 30px;
  /* border-radius: 100%; */
  background-color: #FF007A;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}

.inventory_img_border {
  border-width: 8px;
  border-image: linear-gradient(to bottom, #5f9fff, #105ac7) 1;
  border-style: solid;
  /* border-radius: 25px; */
  margin: 10px;
}

.overlay_char_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust as needed */
  height: auto;
}
